UK_DevOps_Gmail_Collector.blueprint.json
{
    "name": "UK DevOps - Gmail Collector",
    "flow": [
        {
            "id": 1,
            "module": "google-email:executeEmailSearchQuery",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 7517729
            },
            "mapper": {
                "q": "label:job-vacancies -label:job-vacancies/make-collected -label:job-vacancies/make-processing -label:job-vacancies/make-failed",
                "limit": "1",
                "format": "full",
                "filterType": "gmailSearch",
                "includeHtmlBody": true
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "format": {
                            "mode": "chose",
                            "label": "Full content"
                        },
                        "filterType": {
                            "mode": "chose",
                            "label": "Gmail filter"
                        },
                        "includeHtmlBody": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-email"
                            },
                            "label": "My Gmail connection (boiko.ivan@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-email",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "filterType",
                        "type": "select",
                        "label": "Filter type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "simpleSearch",
                                "gmailSearch"
                            ]
                        }
                    },
                    {
                        "name": "format",
                        "type": "select",
                        "label": "Content format",
                        "validate": {
                            "enum": [
                                "full",
                                "raw",
                                "metadata",
                                "minimal"
                            ]
                        }
                    },
                    {
                        "name": "q",
                        "type": "text",
                        "label": "Query"
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true,
                        "validate": {
                            "max": 500
                        }
                    },
                    {
                        "name": "includeHtmlBody",
                        "type": "boolean",
                        "label": "Include HTML body",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Message ID"
                    },
                    {
                        "name": "threadId",
                        "type": "text",
                        "label": "Thread ID"
                    },
                    {
                        "name": "internalDate",
                        "type": "date",
                        "label": "Date"
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject",
                        "condition": true
                    },
                    {
                        "name": "fromName",
                        "type": "text",
                        "label": "From (name)",
                        "condition": true
                    },
                    {
                        "name": "fromEmail",
                        "type": "text",
                        "label": "From (email)",
                        "condition": true
                    },
                    {
                        "name": "to",
                        "spec": {
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name"
                                },
                                {
                                    "name": "email",
                                    "type": "text",
                                    "label": "Email"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "To",
                        "condition": true
                    },
                    {
                        "name": "cc",
                        "spec": [
                            {
                                "name": "email",
                                "type": "email",
                                "label": "Email"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            }
                        ],
                        "type": "array",
                        "label": "CC",
                        "condition": true
                    },
                    {
                        "name": "bcc",
                        "spec": [
                            {
                                "name": "email",
                                "type": "email",
                                "label": "Email"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            }
                        ],
                        "type": "array",
                        "label": "BCC",
                        "condition": true
                    },
                    {
                        "name": "snippet",
                        "type": "text",
                        "label": "Snippet"
                    },
                    {
                        "name": "fullTextBody",
                        "type": "text",
                        "label": "Full text body",
                        "condition": true
                    },
                    {
                        "name": "htmlBody",
                        "type": "text",
                        "label": "HTML body",
                        "condition": true
                    },
                    {
                        "name": "hasAttachment",
                        "type": "boolean",
                        "label": "Has attachment",
                        "condition": true
                    },
                    {
                        "name": "hasMedia",
                        "type": "boolean",
                        "label": "Has media",
                        "condition": true
                    },
                    {
                        "name": "sysFolders",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "System folder ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "System folder name"
                            }
                        ],
                        "type": "array",
                        "label": "System folders"
                    },
                    {
                        "name": "categoryFolders",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "Category folder ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Category folder name"
                            }
                        ],
                        "type": "array",
                        "label": "Category folders"
                    },
                    {
                        "name": "userLabelFolders",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "User label folder ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "User label folder name"
                            }
                        ],
                        "type": "array",
                        "label": "User label folders"
                    },
                    {
                        "name": "labelIds",
                        "spec": {
                            "type": "text"
                        },
                        "type": "array",
                        "label": "Message folder IDs"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "Delivered-To",
                                "type": "text",
                                "label": "Delivered-To"
                            },
                            {
                                "name": "Received",
                                "type": "text",
                                "label": "Received"
                            },
                            {
                                "name": "Date",
                                "type": "text",
                                "label": "Date (header)"
                            },
                            {
                                "name": "X-Original-Sender",
                                "type": "text"
                            },
                            {
                                "name": "Reply-To",
                                "type": "text"
                            },
                            {
                                "name": "Subject",
                                "type": "text",
                                "label": "Subject"
                            },
                            {
                                "name": "From",
                                "type": "text",
                                "label": "From"
                            },
                            {
                                "name": "To",
                                "type": "text",
                                "label": "To"
                            },
                            {
                                "name": "Message-ID",
                                "type": "text",
                                "label": "Message-ID"
                            },
                            {
                                "name": "In-Reply-To",
                                "type": "text",
                                "label": "In-Reply-To"
                            }
                        ],
                        "type": "collection",
                        "label": "Headers",
                        "condition": true
                    },
                    {
                        "name": "sizeEstimate",
                        "type": "number",
                        "label": "Size estimate"
                    },
                    {
                        "name": "historyId",
                        "type": "text",
                        "label": "History ID"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 5,
            "module": "regexp:Replace",
            "version": 1,
            "parameters": {},
            "mapper": {
                "text": "{{1.htmlBody}}",
                "value": "{{emptystring}}",
                "global": true,
                "pattern": "(?:^.*?<body[^>]*>|<\\/body>.*$|<img\\b[^>]*>|\\s(?:style|class|id|width|height|align|valign|bgcolor|border|cellpadding|cellspacing|role|aria-[\\w-]+|data-[\\w-]+)=\"[^\"]*\"|<!--[\\s\\S]*?-->|(?:&#8199;|&#x2007;|&amp;#8199;|&amp;#x2007;|&#65279;|&amp;#65279;|&#9;|&amp;#9;)|(?<=>)\\s+(?=<))",
                "multiline": false,
                "sensitive": false,
                "singleline": true
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "global": {
                            "mode": "chose"
                        },
                        "multiline": {
                            "mode": "chose"
                        },
                        "sensitive": {
                            "mode": "chose"
                        },
                        "singleline": {
                            "mode": "chose"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "pattern",
                        "type": "text",
                        "label": "Pattern",
                        "required": true
                    },
                    {
                        "name": "value",
                        "type": "text",
                        "label": "New value"
                    },
                    {
                        "name": "global",
                        "type": "boolean",
                        "label": "Global match",
                        "required": true
                    },
                    {
                        "name": "sensitive",
                        "type": "boolean",
                        "label": "Case sensitive",
                        "required": true
                    },
                    {
                        "name": "multiline",
                        "type": "boolean",
                        "label": "Multiline",
                        "required": true
                    },
                    {
                        "name": "singleline",
                        "type": "boolean",
                        "label": "Singleline",
                        "required": true
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "google-sheets:addRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 7518205
            },
            "mapper": {
                "mode": "map",
                "values": {
                    "0": "{{executionId}}",
                    "1": "{{now}}",
                    "2": "{{1.id}}",
                    "3": "{{1.threadId}}",
                    "4": "{{1.internalDate}}",
                    "5": "{{1.fromName}}",
                    "6": "{{1.fromEmail}}",
                    "7": "{{1.subject}}",
                    "8": "{{1.snippet}}",
                    "9": "@{{1.userLabelFolders[].name}}",
                    "10": "{{length(1.htmlBody)}}",
                    "11": "{{length(5.text)}}",
                    "12": "{{substring(5.text; 0; 49000)}}"
                },
                "sheetId": "gmail_collected_emails",
                "spreadsheetId": "1MHQxhyPB2bxXmUaZeBZGs5saV_ptgXAgNkeAeLS4sCc",
                "tableFirstRow": "A1:Z1",
                "insertDataOption": "INSERT_ROWS",
                "valueInputOption": "RAW",
                "insertUnformatted": true
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "mode": {
                            "label": "Enter manually"
                        },
                        "tableFirstRow": {
                            "label": "A-Z",
                            "nested": [
                                {
                                    "name": "values",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "type": "text",
                                            "label": "A"
                                        },
                                        {
                                            "name": "1",
                                            "type": "text",
                                            "label": "B"
                                        },
                                        {
                                            "name": "2",
                                            "type": "text",
                                            "label": "C"
                                        },
                                        {
                                            "name": "3",
                                            "type": "text",
                                            "label": "D"
                                        },
                                        {
                                            "name": "4",
                                            "type": "text",
                                            "label": "E"
                                        },
                                        {
                                            "name": "5",
                                            "type": "text",
                                            "label": "F"
                                        },
                                        {
                                            "name": "6",
                                            "type": "text",
                                            "label": "G"
                                        },
                                        {
                                            "name": "7",
                                            "type": "text",
                                            "label": "H"
                                        },
                                        {
                                            "name": "8",
                                            "type": "text",
                                            "label": "I"
                                        },
                                        {
                                            "name": "9",
                                            "type": "text",
                                            "label": "J"
                                        },
                                        {
                                            "name": "10",
                                            "type": "text",
                                            "label": "K"
                                        },
                                        {
                                            "name": "11",
                                            "type": "text",
                                            "label": "L"
                                        },
                                        {
                                            "name": "12",
                                            "type": "text",
                                            "label": "M"
                                        },
                                        {
                                            "name": "13",
                                            "type": "text",
                                            "label": "N"
                                        },
                                        {
                                            "name": "14",
                                            "type": "text",
                                            "label": "O"
                                        },
                                        {
                                            "name": "15",
                                            "type": "text",
                                            "label": "P"
                                        },
                                        {
                                            "name": "16",
                                            "type": "text",
                                            "label": "Q"
                                        },
                                        {
                                            "name": "17",
                                            "type": "text",
                                            "label": "R"
                                        },
                                        {
                                            "name": "18",
                                            "type": "text",
                                            "label": "S"
                                        },
                                        {
                                            "name": "19",
                                            "type": "text",
                                            "label": "T"
                                        },
                                        {
                                            "name": "20",
                                            "type": "text",
                                            "label": "U"
                                        },
                                        {
                                            "name": "21",
                                            "type": "text",
                                            "label": "V"
                                        },
                                        {
                                            "name": "22",
                                            "type": "text",
                                            "label": "W"
                                        },
                                        {
                                            "name": "23",
                                            "type": "text",
                                            "label": "X"
                                        },
                                        {
                                            "name": "24",
                                            "type": "text",
                                            "label": "Y"
                                        },
                                        {
                                            "name": "25",
                                            "type": "text",
                                            "label": "Z"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Values in columns"
                                }
                            ]
                        },
                        "insertDataOption": {
                            "mode": "chose",
                            "label": "Insert rows"
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "Raw"
                        },
                        "insertUnformatted": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (boiko.ivan@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "insertUnformatted",
                        "type": "boolean",
                        "label": "Unformatted",
                        "required": true
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "required": true,
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "insertDataOption",
                        "type": "select",
                        "label": "Insert data option",
                        "validate": {
                            "enum": [
                                "INSERT_ROWS",
                                "OVERWRITE"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "text",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "text",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1"
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "A"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "B"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "C"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "D"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "E"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "F"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "G"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "H"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "I"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "J"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "K"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "L"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "M"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "N"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "O"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "P"
                            },
                            {
                                "name": "16",
                                "type": "text",
                                "label": "Q"
                            },
                            {
                                "name": "17",
                                "type": "text",
                                "label": "R"
                            },
                            {
                                "name": "18",
                                "type": "text",
                                "label": "S"
                            },
                            {
                                "name": "19",
                                "type": "text",
                                "label": "T"
                            },
                            {
                                "name": "20",
                                "type": "text",
                                "label": "U"
                            },
                            {
                                "name": "21",
                                "type": "text",
                                "label": "V"
                            },
                            {
                                "name": "22",
                                "type": "text",
                                "label": "W"
                            },
                            {
                                "name": "23",
                                "type": "text",
                                "label": "X"
                            },
                            {
                                "name": "24",
                                "type": "text",
                                "label": "Y"
                            },
                            {
                                "name": "25",
                                "type": "text",
                                "label": "Z"
                            }
                        ],
                        "type": "collection",
                        "label": "Values in columns"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 3,
            "module": "google-email:updateEmailLabels",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 7517729
            },
            "mapper": {
                "addLabels": [
                    "Label_5905488734208156765"
                ],
                "messageId": "{{1.id}}"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "addLabels": {
                            "mode": "chose"
                        },
                        "messageId": {
                            "nested": [
                                {
                                    "help": "To ensure you see the most up-to-date labels, refresh **↻** the Message ID above.",
                                    "name": "addLabels",
                                    "type": "select",
                                    "label": "Labels to add",
                                    "dynamic": true,
                                    "options": [
                                        {
                                            "label": "[Imap]/Корзина",
                                            "value": "Label_1"
                                        },
                                        {
                                            "label": "[Imap]/Отправленные",
                                            "value": "Label_2"
                                        },
                                        {
                                            "label": "[Imap]/Черновики",
                                            "value": "Label_3"
                                        },
                                        {
                                            "label": "Anna-coparenting",
                                            "value": "Label_7807355397549627998"
                                        },
                                        {
                                            "label": "Bike",
                                            "value": "Label_29"
                                        },
                                        {
                                            "label": "Documents",
                                            "value": "Label_25"
                                        },
                                        {
                                            "label": "Entertainment",
                                            "value": "Label_5"
                                        },
                                        {
                                            "label": "followup-active",
                                            "value": "Label_2335573852287466865"
                                        },
                                        {
                                            "label": "Gym",
                                            "value": "Label_6"
                                        },
                                        {
                                            "label": "Intimates&Friends",
                                            "value": "Label_7"
                                        },
                                        {
                                            "label": "job-vacancies",
                                            "value": "Label_13"
                                        },
                                        {
                                            "label": "job-vacancies/make-collected",
                                            "value": "Label_5905488734208156765"
                                        },
                                        {
                                            "label": "Judopay",
                                            "value": "Label_7619405005680801842"
                                        },
                                        {
                                            "label": "Kate-fiancee",
                                            "value": "Label_683377080992771393"
                                        },
                                        {
                                            "label": "Mortgage",
                                            "value": "Label_8"
                                        },
                                        {
                                            "label": "Moto",
                                            "value": "Label_6209041913827950390"
                                        },
                                        {
                                            "label": "Notes",
                                            "value": "Label_18"
                                        },
                                        {
                                            "label": "Other",
                                            "value": "Label_9"
                                        },
                                        {
                                            "label": "SkyDiving",
                                            "value": "Label_10"
                                        },
                                        {
                                            "label": "Ubercart",
                                            "value": "Label_11"
                                        },
                                        {
                                            "label": "Van",
                                            "value": "Label_28"
                                        },
                                        {
                                            "label": "Work",
                                            "value": "Label_219812974418041345"
                                        },
                                        {
                                            "label": "Work/Bauer & Cottrell",
                                            "value": "Label_23"
                                        },
                                        {
                                            "label": "Work/EposNow",
                                            "value": "Label_30"
                                        },
                                        {
                                            "label": "Work/K&B Accountancy",
                                            "value": "Label_19"
                                        },
                                        {
                                            "label": "Work/Mint",
                                            "value": "Label_20"
                                        },
                                        {
                                            "label": "Work/Softmill Limited",
                                            "value": "Label_21"
                                        },
                                        {
                                            "label": "Work/Tesco",
                                            "value": "Label_24"
                                        },
                                        {
                                            "label": "Work/Vodafone",
                                            "value": "Label_27"
                                        },
                                        {
                                            "label": "Валера",
                                            "value": "Label_14"
                                        },
                                        {
                                            "label": "Зачатие",
                                            "value": "Label_15"
                                        },
                                        {
                                            "label": "Ремонт",
                                            "value": "Label_16"
                                        }
                                    ],
                                    "mappable": {
                                        "help": "Enter label IDs by comma (,)."
                                    },
                                    "multiple": true
                                },
                                {
                                    "help": "To ensure you see the most up-to-date labels, refresh **↻** the Message ID above.",
                                    "name": "removeLabels",
                                    "type": "select",
                                    "label": "Labels to remove",
                                    "dynamic": true,
                                    "options": [
                                        {
                                            "label": "[Imap]/Корзина",
                                            "value": "Label_1"
                                        },
                                        {
                                            "label": "[Imap]/Отправленные",
                                            "value": "Label_2"
                                        },
                                        {
                                            "label": "[Imap]/Черновики",
                                            "value": "Label_3"
                                        },
                                        {
                                            "label": "Anna-coparenting",
                                            "value": "Label_7807355397549627998"
                                        },
                                        {
                                            "label": "Bike",
                                            "value": "Label_29"
                                        },
                                        {
                                            "label": "Documents",
                                            "value": "Label_25"
                                        },
                                        {
                                            "label": "Entertainment",
                                            "value": "Label_5"
                                        },
                                        {
                                            "label": "followup-active",
                                            "value": "Label_2335573852287466865"
                                        },
                                        {
                                            "label": "Gym",
                                            "value": "Label_6"
                                        },
                                        {
                                            "label": "Intimates&Friends",
                                            "value": "Label_7"
                                        },
                                        {
                                            "label": "job-vacancies",
                                            "value": "Label_13"
                                        },
                                        {
                                            "label": "job-vacancies/make-collected",
                                            "value": "Label_5905488734208156765"
                                        },
                                        {
                                            "label": "Judopay",
                                            "value": "Label_7619405005680801842"
                                        },
                                        {
                                            "label": "Kate-fiancee",
                                            "value": "Label_683377080992771393"
                                        },
                                        {
                                            "label": "Mortgage",
                                            "value": "Label_8"
                                        },
                                        {
                                            "label": "Moto",
                                            "value": "Label_6209041913827950390"
                                        },
                                        {
                                            "label": "Notes",
                                            "value": "Label_18"
                                        },
                                        {
                                            "label": "Other",
                                            "value": "Label_9"
                                        },
                                        {
                                            "label": "SkyDiving",
                                            "value": "Label_10"
                                        },
                                        {
                                            "label": "Ubercart",
                                            "value": "Label_11"
                                        },
                                        {
                                            "label": "Van",
                                            "value": "Label_28"
                                        },
                                        {
                                            "label": "Work",
                                            "value": "Label_219812974418041345"
                                        },
                                        {
                                            "label": "Work/Bauer & Cottrell",
                                            "value": "Label_23"
                                        },
                                        {
                                            "label": "Work/EposNow",
                                            "value": "Label_30"
                                        },
                                        {
                                            "label": "Work/K&B Accountancy",
                                            "value": "Label_19"
                                        },
                                        {
                                            "label": "Work/Mint",
                                            "value": "Label_20"
                                        },
                                        {
                                            "label": "Work/Softmill Limited",
                                            "value": "Label_21"
                                        },
                                        {
                                            "label": "Work/Tesco",
                                            "value": "Label_24"
                                        },
                                        {
                                            "label": "Work/Vodafone",
                                            "value": "Label_27"
                                        },
                                        {
                                            "label": "Валера",
                                            "value": "Label_14"
                                        },
                                        {
                                            "label": "Зачатие",
                                            "value": "Label_15"
                                        },
                                        {
                                            "label": "Ремонт",
                                            "value": "Label_16"
                                        }
                                    ],
                                    "mappable": {
                                        "help": "Enter label IDs by comma (,)."
                                    },
                                    "multiple": true
                                }
                            ]
                        },
                        "removeLabels": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-email"
                            },
                            "label": "My Gmail connection (boiko.ivan@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-email",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "messageId",
                        "type": "text",
                        "label": "Message ID",
                        "required": true
                    },
                    {
                        "name": "addLabels",
                        "type": "select",
                        "label": "Labels to add",
                        "multiple": true
                    },
                    {
                        "name": "removeLabels",
                        "type": "select",
                        "label": "Labels to remove",
                        "multiple": true
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}